.section-contact {
  border-left: thin solid var(--border-color);
  border-right: thin solid var(--border-color);
}
.contact-wrapper {
  padding: 2em 0;
  gap: 2em;
  min-height: var(--complete-height);
  justify-content: center;
}
.contact__title {
  font-size: 2em;
  text-align: center;
}
.contact__subtitle {
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 2em;
  text-align: center;
}
.contact__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  min-height: min(var(--complete-height), 20rem);
  font-size: 1.1em;
}
.contact__form__inputs-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  gap: 1em;
}
.contact__form__item {
  width: max(15rem, 45%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.2rem 0.5em;
  border: thin solid var(--border-color);
}
.contact__form__item-input {
  border: thin solid transparent;
  border-bottom: thin solid var(--primary-color);
  outline: 0;
  font-size: inherit;
  padding: 0.4rem;
  background-color: inherit;
  transition: 0.5s;
}
.contact__form__item-input:focus {
  border: thin solid var(--primary-color);
}
.contact__form__text-container {
  gap: 1rem;
}
.contact__form__item-textarea {
  height: 10rem;
  width: max(10rem, 80%);
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem;
  border: thin solid var(--border-color);
  outline: 0;
  resize: none;
}
.contact__form__button {
  height: 2em;
  font-size: inherit;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: transparent;
  background-color: red;
  color: white;
}
.contact__form__button:hover{
  background-color: rgb(165, 10, 10);
}

@media (max-width: 720px) {
  .contact__form__inputs-container {
    justify-content: center;
  }
}
