.homepage__img {
  width: max(15rem, 35%);
  margin: auto;
}
.section__homepage {
  flex-wrap: wrap;
  padding: 2em;
}
.homepage-container {
  width: max(20em, 45%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 720px) {
  .homepage-container > * {
    text-align: left;
  }
}
