.homepage__img {
  height: 20rem;
  margin: auto;
}
.section__homepage {
  flex-wrap: wrap;
  padding: 2em;
}
.homepage-container {
  width: max(20em, 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
