.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}
.project-card {
  border: thin solid black;
  min-height: 18rem;
  min-width: 15rem;
  max-width: 20rem;
}
.project-card__img {
  min-height: 10rem;
}
.project-card__title {
  font-size: 1.2em;
  font-weight: 500;
}
.project-card__description {
  font-size: 1.1em;
  font-weight: 300;
}
