.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 0;
}
.project-card {
  border: thin solid black;
  min-height: 18rem;
  width: max(15rem, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1rem 0.5rem;
}
.project-card__img {
  min-height: 10rem;
}
.project-card__title {
  font-size: 1.35em;
  font-weight: 400;
}
.project-card__description {
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
}
.project-card__svg {
  height: 12rem;
}
.project-card__button {
  font-size: inherit;
  padding: 0.3rem 0.5em;
  width: 50%;
  border: 0;
}
.card-modal {
  display: none;
}
.card-modal.open {
  background-color: hsla(0, 0%, 0%, 0.4);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 999;
  display: grid;
  place-items: center;
}
.card-modal__container {
  background-color: azure;
  min-width: 65%;
  min-height: 80%;
}
