.container {
  min-width: 90%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em 0;
}
.project-card {
  border: thin solid black;
  min-height: 18rem;
  width: max(15rem, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 1rem 0.5rem;
}
.project-card__img {
  min-height: 10rem;
}
.project-card__title {
  font-size: 1.35em;
  font-weight: 400;
}
.project-card__description {
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
}
.project-card__svg {
  height: 12rem;
}
.project-card__button {
  font-size: inherit;
  padding: 0.3rem 0.5em;
  width: 50%;
  border: 0;
}
.card-modal {
  display: none;
}
.card-modal.open {
  background-color: hsla(0, 0%, 0%, 0.4);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 999;
  display: grid;
  place-items: center;
}
.card-modal__container {
  background-color: azure;
  border-radius: 1rem;
  min-width: 65%;
  padding: 2em;
  position: relative;
}
.modal-project__presentation {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.project-presentation__img {
  display: flex;
  height: 15rem;
  width: 100%;
}
.project-presentation__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.project-presentation__logo-container {
  width: 8em;
  height: 8em;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 3em;
  display: grid;
  place-items: center;
}
.project-presentation__logo {
  height: 80%;
}
.project-presentation__title {
  font-size: 2em;
}
.description__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  width: 80%;
}
.container__extra {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.container__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.list__header {
  font-size: 1.2em;
  font-weight: 500;
}
.modal-project__button {
  position: absolute;
  right: 5%;
  height: 3em;
  width: 3em;
  border: 0;
  background-color: transparent;
}
.icon {
  font-size: 2em;
}
