.skills-container {
  flex-wrap: wrap;
  display: flex;
  gap: 2em;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 1em;
}
.container-skills {
  border: thin solid black;
  border-radius: 2rem;
  min-height: 15rem;
  width: max(15rem, 30%);
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding: 1em;
}
.container-skills__title{
  text-align: center;
}
.skills-container__svg-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.skill-learning__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
}
.skill__svg {
  width: 4rem;
  height: 4rem;
}