.header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.header-container {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  border-bottom: thin solid black;
  padding: 0 2rem;
}
.header-container__nav {
  position: relative;
}
.header-container__nav__navbar {
  background-color: aqua;
  position: fixed;
  left: 0;
  top: var(--header-height);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  list-style: none;
  width: 100%;
  height: 100vh;
  font-size: 1em;
  padding: 1em 0;
  transition: 0.5s;
  transform: translate(0, 200%);
}
.open {
  transform: translate(0);
}
.hamburger-btn {
  display: flex;
  flex-direction: column;
  place-content: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.5rem;
  width: 3.5rem;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  z-index: 999;
}
.bar {
  width: 2rem;
  height: 3px;
  background-color: white;
  margin: 5px auto;
}
.hamburger-btn.open .bar:nth-child(1) {
  display: none;
}
.hamburger-btn.open .bar:nth-child(2) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-btn.open .bar:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}
