* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: max(108%, 0.7vw);
  font-family: "Roboto Flex", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --header-height: 4rem;
  --complete-height: calc(100vh - var(--header-height));
  --max-width: 80rem;
}
[class^="section"] {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: var(--complete-height);
}
.container,
.container-row {
  width: min(90%, var(--max-width));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.container-row {
  flex-direction: row;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
.gap-2{
  gap: 2em;
}
.flex-wrap{
  flex-wrap: wrap;
}
.main {
  margin: auto;
  max-width: var(--max-width);
  padding: 1em;
}
