* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: max(110%, 1vw);
  font-family: "Roboto Flex", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --header-height: 4rem;
}
[class^="section"] {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: calc(100vh - var(--header-height));
}
